/* CSS DOCUMENT */

* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: Gotham;
	src: url("fonts/gotham-rounded-medium.otf");
}

body {
	overflow: hidden;
}

#bgwrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: radial-gradient(ellipse closest-side,
	rgba(0,0,0,0), rgba(0,0,0,0.4)),
	url("images/mainbg.jpg") no-repeat center bottom fixed;
	background-size: cover;
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 1);

}

#title {
	position: absolute;
	top: 15%;
	left: 0px;
	width: 100%;
	height: 15%;
	text-align: center;
	line-height: 100%;
	font-family: Gotham;
	font-size: 100%;
	color: #FFF;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	padding: 20px 0px 20px 0px;
}

#slogan {
	position: absolute;
	top: 37%;
	left: 0px;
	width: 100%;
	height: 3%;
	text-align: center;
	line-height: 100%;
	font-family: Gotham;
	font-size: 20px;
	color: #CCC;
	-webkit-user-select: none;
	user-select: none;
}

#main_options {
	position: absolute;
	top: 45%;
	left: calc(50% - 150px);
	width: 300px;
	height: 50px;
}

#main_options ul {
	list-style-type: none;
}

#main_options ul li {
	float: left;
	width: 300px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #4f94dd;
	font-family: Gotham;
	font-size: 20px;
	padding: 5px;
	border-radius: 2px;
	color: #FFF;
	cursor: pointer;
	box-shadow: 0px 4px 0px #0f71db;
	-webkit-transition: background 0.2s;
}

#main_options ul li:active {
	margin-top: 4px;
	box-shadow: none;
}

#main_options ul li:hover {
	background: #3987db;
}

#main_options ul li#butt2 {
	margin-left: 20px;
}

#map-canvas {
	position: absolute;
	top: 110%;
	left: 10%;
	width: 80%;
	height: 70%;
}

#settings_butt {
	position: absolute;
	top: -40px;
	left: calc(50% - 75px);
	width: 150px;
	height: 30px;
	background: #222;
	/*-webkit-transform: rotate(-90deg);*/
	line-height: 30px;
	text-align: center;
	font-family: Gotham;
	color: #FFF;
	font-size: 15px;
	padding: 5px;
	cursor: pointer;
}

#settings {
	position: absolute;
	bottom: 0px;
	right: 50px;
	width: 310px;
	height: auto;
	background: transparent;
	display: none;
	box-shadow: 0px 0px 10px #000;
}

#settings p {
	margin: 5px;
	font-family: Gotham;
	color: #000;
}

#settings #settings_text {
	list-style-type: none;
}

#settings #settings_text li {
	display: block;
	width: 300px;
	height: 20px;
	background: #CCC;
	text-align: center;
	line-height: 20px;
	font-family: Gotham;
	cursor: pointer;
	padding: 5px;
	color: #000;
	-webkit-transition: background 0.2s;
}

#settings #settings_text li:hover {
	background: #CCC;
}

#settings #settings_text #update {
	background: #4f94dd;
	color: #FFF;
}

#settings #settings_text #update:hover {
	background: #3987db;
}

#settings #settings_text #time {
	background: #FFF;
	cursor: default;
}

#time_select {
	width: 50px;
}

#loc_link {
	float: left;
	width: 180px;
	height: 25px;
	background: #4f94dd;
	text-align: center;
	line-height: 25px;
	font-family: Gotham;
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

#loc_link:hover {
	background: #3987db;
}