/* CSS DOCUMENT */

* {
	margin: 0em;
	padding: 0em;
	font-size: 100%;
}

.blur {
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.25);
	z-index: -1;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 5em;
	background: #333;
	font-family: 2em;
}

#bgwrapper {
	position: absolute;
	top: 5em;
	left: 0px;
	width: 100%;
	height: 35em;
	background: url("images/mainbg.jpg") no-repeat center bottom fixed;
	background-size: cover;
}